img{


	border-radius: 50%;
}

div{
	color: white;
	padding: 80px;
	display: inline-block;
	background-color: tomato;
	text-align: center;
	border-radius: 14%;
	height: 600px;
	width: 600px;
	margin-left: 80px;


}

body{
	 background-color: black;
	

}